
body {
  margin: 0;
  padding: 0;
  /* text-align: center; */
  background-color: #ffffff;
  color: #4B5563;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.introduction {
  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.introduction-item {
  @media screen and (max-width: 768px) {
    width: 80% !important; 
  }
}

.full-mobile {
  @media screen and (max-width: 500px) {
    width: 90% !important; 
  }
}

input, textarea {
  /* style={{ fontSize: "14px", padding: "8px" }} */
  font-size: 16px !important;
  padding: 8px !important;
  touch-action: manipulation !important;
  &:hover, &:focus {
    border-color: #00C65E !important;
  }
}

.header-pages:hover {
  text-decoration: underline !important;
  text-decoration-color: #C211A1 !important;
}

.header-pages:hover .ant-typography {
  color: #C211A1 !important;
}

.features-block:hover, .pricing-block:hover {
  scale: 1.1;
}

.ant-phone-input-wrapper input, .ant-phone-input-wrapper input:focus, .ant-phone-input-wrapper .ant-input-group-addon {
  border: none;
}

.ant-phone-input-wrapper input {
  outline: none;
}

.contact-form::placeholder {
  color: #ffffff;
}

.ant-form {
  width: 100%;
}

.agent-call-form .ant-form-item {
  margin: 0px;
  width: 100%;
}

.ant-phone-input-wrapper {
  width: 100%;
}

.ant-phone-input-wrapper input {
  width: 100%;
}

.call_me_btn:hover {
  scale: 1.1;
}